<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="CompiledDomainModel.Validation.ValidateDomainModelOnStartup, CompiledDomainModel" />
      </initialize>
      <ValidateDomainModel>
        <processor type="CompiledDomainModel.Validation.ValidateDomainModel, CompiledDomainModel" />
        <!-- You can add to this pipeline (implement IValidateDomainModelProcessor) to add your own validations -->
      </ValidateDomainModel>
    </pipelines>
  </sitecore>
</configuration>